.currentTime {
    block-size: 2px;
    inline-size: 5rem;
    background-color: var(--red10);
    position: absolute;
    inset-inline-start: 600px;
    inset-block-start: 300px;
    z-index: 10;
}

.currentTime::before {
    content: '';
    block-size: 1rem;
    inline-size: 1rem;
    border-radius: 50%;
    background-color: var(--red10);
    display: block;
   transform: translateY(calc(2px - 50%));
}