.miniCalendar {
    color: var(--gray30);
    --cellSize: 1.75rem;
    max-inline-size: 12.25rem;
}

.miniCalendar-status {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-inline-start: 0.25rem;
 margin-block-end: 0.5rem;
}

.miniCalendar-date {
    font: var(--body1-medium);
}

/* .miniCalendar-navigation {
    display: inline-flex;
    gap: 0.5rem;
} */

.miniCalendar-header {
    display: grid;
    grid-template-columns: repeat(7, var(--cellSize));
    grid-template-rows: var(--cellSize);
    font: var(--body3-regular);
    text-align: center;
    line-height: var(--cellSize);
}

.miniCalendar-weekDay {
}

.miniCalendar-month {
    display: grid;
    grid-template-columns: repeat(7, var(--cellSize));
    grid-template-rows: repeat(6, var(--cellSize));
    font: var(--body3-regular);
    text-align: center;
}

.miniCalendar-monthDay {
    line-height: var(--cellSize);
}

.miniCalendar-monthDay.is-inactive {
    color: var(--gray20);
}

.miniCalendar-monthDay.is-selected {
    color: var(--white);
    background-color: var(--blue10);
    border-radius: 50%;
}