.input-wrapper { 
    background: var(--gray10);
    border-radius: 0.25rem;
    inline-size: 100%;
    }

.input-icon {
    background-image: url('../assets/icons/users.svg');
    background-repeat: no-repeat;
    background-position: left 1rem center;
    padding-inline-start: 2.5rem;
    padding-block: 0.75rem;
    color: var(--gray50); 
    /* overflow: hidden;   */
}

.input-search {
    border: none;
    background: var(--gray10);
    box-sizing: border-box;
    padding-inline-start: 0.5rem;
    inline-size: 100%;
}


.input-search:focus,
.input-search:hover {
    outline: none;
}