.timezoneCell {
    font: var(--body3-regular);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: sticky;
    inset-block-start: 0;
    padding-inline-end: 1rem;
    white-space: nowrap;
}

.timezoneCell::before {
    content: '';
    background-color: currentColor;
    block-size: 1px;
    inline-size: 0.5rem;
    position: absolute;
    inset-inline-end: 0;
    inset-block-end: 0;
}